<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzone.xservice.sys.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzone.xinterface.sys.model.SysUser">
        <id column="USER_ID" property="userId" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="HEAR_IMG" property="hearImg" />
        <result column="USED_STATUS" property="usedStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, USER_NAME, PASSWORD, CREATE_DATE, HEAR_IMG, USED_STATUS
    </sql>

</mapper>
