<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzone.xservice.app.dao.InstitutionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzone.xinterface.app.model.Institution">
        <id column="INSTITUTION_ID" property="institutionId" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="CREATE_DATE" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INSTITUTION_ID, NAME, CODE, CREATE_DATE
    </sql>

</mapper>
