<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzone.xservice.shopUsers.dao.ShopUsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzone.xinterface.shopUsers.model.ShopUsers">
        <id column="USER_ID" property="userId" />
        <result column="MY_LEADER_ID" property="myLeaderId" />
        <result column="USER_PHONE" property="userPhone" />
        <result column="USER_PWD" property="userPwd" />
        <result column="USER_NICK" property="userNick" />
        <result column="USER_SEX" property="userSex" />
        <result column="OPEN_ID" property="openId" />
        <result column="USER_PHOTO" property="userPhoto" />
        <result column="USER_NAME" property="userName" />
        <result column="REGI_DATE" property="regiDate" />
        <result column="USER_STATUS" property="userStatus" />
        <result column="MEMBER_FLAG" property="memberFlag" />
        <result column="MEMBER_EXPIRED_DATE" property="memberExpiredDate" />
        <result column="MEMBER_TYPE" property="memberType" />
        <result column="date_of_birth" property="dateOfBirth" />
        <result column="USER_AREA" property="userArea" />
        <result column="AREA_DETAIL" property="areaDetail" />
        <result column="USER_CODE" property="userCode" />
        <result column="MY_LEADER_CODE" property="myLeaderCode" />
        <result column="ADMIN" property="admin" />
        <result column="USER_SCORE" property="userScore" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, MY_LEADER_ID, USER_PHONE, USER_PWD, USER_NICK, USER_SEX, OPEN_ID, USER_PHOTO, USER_NAME, REGI_DATE, USER_STATUS, MEMBER_FLAG, MEMBER_EXPIRED_DATE, MEMBER_TYPE, date_of_birth, USER_AREA, AREA_DETAIL, USER_CODE, MY_LEADER_CODE, ADMIN, USER_SCORE
    </sql>

</mapper>
